<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
      </script>
    <title>Document</title>
</head>
<body>
    <div class="flex">
        <div class="flex flex-col h-screen w-[300px] bg-indigo-900 justify-center">
            <div class="flex justify-center">
                <h3 class="flex fixed top-2 text-gray-100 font-semibold pt-3 text-xl border-b-2">Candidate ID</h3>
            </div>
            <div class="flex justify-center m-3">
                <a href="userupload"><h2 class="text-gray-100 font-semibold pt-3 text-l">Upload Files</h2></a>
            </div>
            <div class="flex justify-center m-3">
                <a href="usernoti"><h2 class="text-gray-100 font-semibold pt-3 text-l">Notifications</h2></a>
            </div>
            <div class="flex justify-center m-3">
                <h2 class="flex  text-gray-100 font-semibold pt-3 text-l">Logout</h2>
            </div>
          

        </div>
        <div class="flex flex-col item-center w-full pt-3 ">
          <div class="">
              <h2 class="flex text-3xl font-semibold justify-center underline border-3 border-black">Division of Computer Science and Engineering</h2>

          </div>

        <div class="flex  flex-col p-10 w-full justify-center items-center   h-full ">
          <p class="text-black font-semibold text-2xl">Hi.. Devaprasad</p>
          <p class="text-black font-semibold text-2xl">Welcome to SoeConnect</p>
          
          </div>
          
            
      </div>

  </div>
</div>
</body>
</html>